# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Matt Bennett
email: matt@mattbennett.ca
description: >- # this means to ignore newlines until "baseurl:"
  Matt Bennett is passionate about cultivating connection, converstion, and community.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mattbennett.ca" # the base hostname & protocol for your site, e.g. http://example.com
minima:
  social_links:
    - platform: linkedin
      user_url: https://www.linkedin.com/in/mgbennett
    - platform: instagram
      user_url: https://www.instagram.com/thisismattbennett
    - platform: facebook
      user_url: https://www.facebook.com/thisismattbennett
    - platform: bluesky
      user_url: https://bsky.app/profile/mattbennett.ca
    - platform: threads
      user_url: https://www.threads.net/@thisismattbennett

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
